! -------------------------------------------------- !
! project: AryanDE                                   |
! author: ArmouredHeart                              |   
! contact: ArmouredHeart@protonmail.com              |
! license: GNU GENERAL PUBLIC LICENSE v3             |
! source: https://github.com/ArmouredHeart/AryanDE   |
! -------------------------------------------------- !

#include "~/themes/.Xtheme_fauxx"

!! Colour assignment - intended to read from the imported theme

!! Colour code reference
!       #----------------------------------------------------------------------#
!       |  black |   red  |  green | yellow |  blue | magenta|  cyan  |  white |
! Light |   00   |   01   |   02   |   03   |   04  |   05   |   06   |   07   |
! Dark  |   08   |   09   |   10   |   11   |   12  |   13   |   14   |   15   |
!       #----------------------------------------------------------------------#

*background: X_BACKGROUND
*foreground: X_FOREGROUND

*color0: X_COLOUR0
*color1: X_COLOUR1
*color2: X_COLOUR2
*color3: X_COLOUR3
*color4: X_COLOUR4
*color5: X_COLOUR5
*color6: X_COLOUR6
*color7: X_COLOUR7

*color8: X_COLOUR8
*color9: X_COLOUR9
*color10: X_COLOUR10
*color11: X_COLOUR11
*color12: X_COLOUR12
*color13: X_COLOUR13
*color14: X_COLOUR14
*color15: X_COLOUR15